<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Obat</title>
    <link rel="stylesheet" th:href="@{css/styleAdd.css}">
</head>
<body>
    <div class="container">
        <h1>Tambah Obat</h1>
        <form action="/save-obat" method="post">
            <label for="namaObat">Name:</label>
            <input type="text" id="namaObat" name="namaObat" required placeholder="Enter the medicine name">

            <label for="price">Price:</label>
            <input type="number" id="price" name="price" required placeholder="Enter the price">

            <label for="description">Description:</label>
            <textarea id="description" name="description" required placeholder="Enter a brief description"></textarea>

            <button type="submit">Save</button>
        </form>
        <a href="/obat-home" class="back-button">Back to List</a>
    </div>
</body>
</html>
