<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form th:action="@{/cek-login}" method="post">
            <label>Username:</label>
            <input type="text" name="username" placeholder="Enter username" required>
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter password" required>
            <button type="submit">Login</button>
        </form>
        <p>Belum Punya akun? <a href="registrasi">Daftar Disini</a></p>

        <div th:if="${error}">
            <p class="error" th:text="${error}"></p>
        </div>
    </div>
</body>
</html>
